<!-- a nav bar whihc wakes the user to the different pages for exaple "root" -->
<nav>
  <a href="/">All users</a>
  <a href="/new">New posts</a>
  <a href="/:id/edit">edit</a>
  <a href="/0">first user</a>
  <a href="/1">second user</a>
  <a href="/2">third user</a>
</nav>
